header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.section-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#prices {
  min-height: 700px;
  width: 100%;
}
