.section-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

#prices {
  min-height: 700px;
  min-width: 900px;
  width: 100%;
}

#statistics {
  min-height: 700px;
  min-width: 900px;
  width: 100%;
  margin-top: 300px;
}
